:root {
  --primary: #1e88e5;
  --secondary: #e3f2fd;
  --secondary-dark: #ccd9e3;

  --color-black: #000;
  --color-white: #ffffff;
  --color-background: var(--color-white);

  --color-gray: #54585c;

  --color-font: #000;
  --color-font-secondary: var(--color-gray);
  --color-border: #e4e6e8;
}
