@use "../../../styles/abstracts/responsive" as *;

.container {
  max-width: calc(1272px + var(--gap-6));
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gap-3);
  padding-right: var(--gap-3);
}
