@use "../../../styles/abstracts/responsive" as *;

.container {
  max-width: calc(1272px + var(--gap-6));
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gap-3);
  padding-right: var(--gap-3);

  @include breakpoint(laptop_small) {
    max-width: 1000px;
    padding-left: var(--gap-3);
    padding-right: var(--gap-3);
  }

  @include breakpoint(tablet_big) {
    max-width: 100%;
  }
}
